body {
    background-color: #b194f8
}

p {
    font-family: Arial, sans-serif;
}

.center {
    text-align: center;
}


h1 {
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
}

.active {
    background-color: #b194f8;
    color: #fff;
}

#bloque1,
#bloque2,
#bloque3,
#bloque4,
#bloque5,
#bloque6,
#bloque7,
#bloque8,
#bloque9,
#bloque10 {
    width: auto;
    height: 70px;
    background: rgba(204, 204, 204, 0.522);
    margin: 1rem;
    text-align: center;
}

.borde1 {
    border-color: #fc0000;
    border-style: dotted;
    border-width: 5px;
    border-radius: 20px;
}

.borde2 {
    border-color: #005dcf;
    border-style: dashed;
    border-width: 5px;
    border-radius: 20px;
}

.borde3 {
    border-color: #efbf62;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}

.borde4 {
    border-color: #ba4a6e;
    border-style: double;
    border-width: 5px;
    border-radius: 20px;
}

.borde5 {
    border-color: #4d9921;
    border-style: groove;
    border-width: 5px;
    border-radius: 20px;
}

.borde6 {
    border-color: #bfffff;
    border-style: ridge;
    border-width: 5px;
    border-radius: 20px;
}

.borde7 {
    border-color: #f3829a;
    border-style: inset;
    border-width: 5px;
    border-radius: 20px;
}

.borde8 {
    border-color: #8c8477;
    border-style: outset;
    border-width: 5px;
    border-radius: 20px;
}

.borde9 {
    border-color: #963542;
    border-style: double solid dotted dashed;
    border-width: 5px;
    border-radius: 20px;
}

.borde10 {
    border-color: #4a6aba;
    border-bottom: double;
    border-top: double;
    border-width: 5px;
    border-radius: 20px;
}

.margen1 {
    margin: 200px;
}

.margen2 {
    margin: 200px 0px !important;
}

.margen3 {
    margin: 0px;
}

.margen {
    margin-top: 100px;
    margin-bottom: 100px;
    border-style: double;
    background-color: #8c8477;
}

footer {
    background-color: #640957;
}

footer p {
    text-align: center;
    padding: 1rem;
    color: #d6ceff;
}

/*
section {
    margin: 0px auto !important;
}
*/

.contenedorprincipal {
    display: flex;
    flex-direction: column;
    width: 100%;
}